.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #ffffff; /* Primary color */
  color: rgb(0, 0, 0);
}

.footer-logo-container,
.footer-text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-logo {
  height: 20px;
}

body {
  margin-top: 65px; /* Adjust as needed */
  margin-bottom: 60px; /* Height of the footer */
  position: relative;
}
