/* Navbar styles */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color:aliceblue;
}

.navbar-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

.navbar-logo {
    width: 100px;
    /* Adjust the width of the logo as needed */
    height: auto;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    color: rgb(0, 0, 0);
    min-width: 100px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.button {
    color: rgb(255, 255, 255);
    background-color: #0068cf;
    border-radius: 5px;
    padding: 10px 0px;
    font-weight: bold;
    align-items: center;
}

.button:hover {
    background-color: #0076ec;
}

